<%-include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="home-heading text-center"><%= heroName %></h2>
        <figure class="figure home-figure mx-auto">
            <img src="https://placehold.co/250x350"alt="image of <%= heroName %>" class="img-fluid image home-img d-block mx-auto figure-img" />
            <figcaption class="figure-caption">
                <%= message %>
            </figcaption>
        </figure>
        
    </div>
</main>

<%-include('../partials/footer') %>

